@import "colors";

body {
  font-family: 'Roboto';
}

form {
  .input-container {
    & > div {
      width: 300px;
    }

    & + .input-container {
      margin-top: 15px;
    }
  }
}

.error-container {
  color: $colorRed500;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px $colorRed500;
  background-color: $colorRed100;
}
