@import "colors";

body {
  font-family: 'Roboto';
}

form {
  .input-container {
    & > div {
      width: 300px;
    }

    & + .input-container {
      margin-top: 15px;
    }
  }

  .input-maps-container {
    margin-top: 15px;
  }
}

.error-container {
  color: $colorRed500;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px $colorRed500;
  background-color: $colorRed100;
}

.main-page-container {
  max-width: 1350px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  margin-left: auto;
  margin-right: auto;
}

.manage-table-bar {
  display: flex;
  justify-content: space-between;

  .search-field {
    margin-right: 10px;
  }
}
