@import "../../styles/colors";

.data-table {
  position: relative;

  table {
    td {
      cursor: pointer;
    }
  }

  .row-with-image {
    img {
      max-width: 50px;
      max-height: 50px;
      object-fit: contain;
      margin-right: 10px;
    }
    display: flex;
    align-items: center;
  }

  .progress {
    background-color: transparentize($colorGrey300, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
